<% include partials/header %>
  <% if (tag === "dog") { %>
    <h2>Yes! Let's get a dog picture!</h2>
  <% } %>
  <img src="https://loremflickr.com/600/400/<%= tag %>" alt="">
<% include partials/footer %>
